#activity-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.activity {
    width: 240px;
    height: 200px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.activity-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 8px;
    padding: 0;
}